h1 {text-align:left; color:black}
h2 {text-align:center; color:white ; background-color: black}
p {text-align: justify; color: white ;background-color: black}
div {background-color: green;}
table {text-align: center;}